<div class="containerProfile">

  <div class="profile-button">
    <h1>Bienvenue <%= current_user.first_name %> <%= current_user.last_name %></h1>
    <h2><%= link_to "mes voitures", profile_owner_path %></h2>
  </div>

  <h2>Mes réservervations :</h2>


      <% current_user.bookings.each do |booking| %>
        <div class='card-profile'>
          <%= cl_image_tag booking.car.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-profile-infos">
            <div>
              <div>
                <h2><%= booking.car.brand %></h2>
                <h3><%= booking.car.model %></h3>
              </div>
              <div>
                <p><%= booking.date %></p>
              </div>
              <p><%= booking.car.description %></p>
            </div>
            <p class="card-profile-pricing"><%= booking.car.price_per_day %> €/jour</p>
            <div>
            <%= link_to "supprimer", booking_path(booking),
              data: {turbo_method: :delete, turbo_confirm: "Es-tu sur ?"} %>
            </div>
          </div>
        </div>
      <% end %>
</div>
