<div class="containerProfile">

  <div class="profile-button">
    <h1>Bienvenue <%= current_user.first_name %> <%= current_user.last_name %></h1>
    <h2><%= link_to "Mes voitures", profile_owner_path %></h2>
  </div>

  <h2>Mes réservervations :</h2>

  <div class="main-container">
    <div class="cards">
      <% current_user.bookings.each do |booking| %>
        <div class='card-trip'>
          <%= cl_image_tag booking.car.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2><%= booking.car.brand %></h2>
              <p><%= booking.car.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= booking.car.price_per_day %> €/jour</h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
