<p>Modifie ici les caractéristiques de ta voiture</p>

<div class="containerEdit">
  <%= simple_form_for(@car) do |f| %>
    <%= f.text_field :brand, label: "Marque", placeholder: 'Ex : Porshe', class: "fieldsEdit"%>
    <%= f.text_field :model, label: "Modèle", placeholder: 'Ex: Spider', class: "fieldsEdit"%>
    <%= f.text_field :year, label: "Année", placeholder: "Ex: 2018", class: "fieldsEdit"%>
    <%= f.select :origin, ["Française", "Japonaise", "Italienne", "Allemande", "Américaine"], label: "Origine", placeholder: 'Ex: Française', class: "fieldsEdit"%>
    <%= f.text_field :price_per_day, label:"Prix par jour",  placeholder: 'Ex: €150/j', class: "fieldsEdit"%>
    <%= f.text_field :color, label:"Couleur", placeholder: 'Ex: Noir', class: "fieldsEdit"%>
    <%= f.text_field :description, label:"Description", placeholder: 'Ex: Véloce', class: "fieldsEdit"%>
    <%= f.text_field :number_street, label:"Numéro de la rue", placeholder: 'Ex: 1 rue des Capucins', class: "fieldsEdit"%>
    <%= f.text_field :name_street, label:"Nom de la rue", placeholder: 'Ex: Rue des Capucins', class: "fieldsEdit"%>
    <%= f.text_field :post_code, label:"Code Postale", placeholder: 'Ex: 69001', class: "fieldsEdit"%>
    <%= f.text_field :city, label:"Couleur", placeholder: 'Ex: Lyon', class: "fieldsEdit"%>
    <button class="btn">Mettre à jour</button>
    <%= link_to "Supprimer", car_path(@car),
      data: {turbo_method: :delete, turbo_confirm: "Es-tu sur ?"}, class: "btn"%>
  <% end %>
</div>
