<h1>Voici toutes les offres</h1>
<div class="containerProfile">


<div class="all-selector">
    <%= search_form_for @q do |f| %>
      <%= f.label "rechercher votre marque" %>
        <%= f.search_field :brand_or_model_start %>
      <%= f.submit %>
    <% end %>

    <% Car.brands.each do |brand| %>
      <% if params[:brand] == brand %>
        <%= link_to brand, request.params.except(:brand), class: "selector"%>
      <% else %>
        <%= link_to brand, request.params.merge(brand: brand), class: "selector" %>
      <% end %>
    <% end %>
</div>

<div class="main-container">
  <div class="cards">
    <% @cars.each do |car| %>
      <%= link_to car_path(car), class: 'card-trip' do %>
        <% if car.photo.present? %>
          <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= car.brand %></h2>
            <p><%= car.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= car.price_per_day %> €/jour</h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
