<h1>Voici toutes les offres</h1>

<%= search_form_for @q do |f| %>

  # Search if the name field contains...
  <%= f.label :brand_start %>
  <%= f.search_field :brand_start %>

  <%= f.submit %>
<% end %>

<div class="main-container">
  <div class="cards">
    <% @cars.each do |car| %>
      <%= link_to car_path(car), class: 'card-trip' do %>
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= car.brand %></h2>
            <p><%= car.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= car.price_per_day %> €/jour</h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<%= link_to "aller sur vos résa", profile_path %>
