<!DOCTYPE html>
<html>
  <head>
    <title>FATCarsCollection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class='back-img'>
    <%= render 'shared/navbar' %>
    <%= notice %>
    <%= alert %>
    <div class="main-cont">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
